button {
	border: none;
	background-color: #1e95ea;
	color: white;
	height: 60px;
	width: 80px;
	margin-right: 5px;
	font-weight: bold;
}

.buttons {
	justify-content: center;
	align-items: center;
}

img {
	width: 500px;
	height: 500px;
	border: 1px solid black;
	margin: 20px;
}

input {
	color: black;
}

.row {
	display: flex;
	flex-direction: row;
}

.color-box {
	width: 40px;
	height: 40px;
	margin-top: 5px;
}

.cart {
	float: right;
	margin-right: 25px;
	padding: 5px 20px;
	border: 1px solid black;
}

.review-form {
	margin-left: 25px;
	border: 1px solid black;
}


.disabledButton {
	background-color: #d8d8d8;
}

.tab-div {
	align-items: center;
	justify-content: center;
	margin-left: 20px;
	width: 500px;
}

.tab {
	font-size: 25px;
	margin-left: 20px;
}

.activeTab {
	font-size: 25px;
	font-weight: bold;
	color: aquamarine;
	text-decoration: underline;
}

.border {
	border: 1px solid black;
	width: 200px;
	margin-top: 10px;
}